:root {
  --grey-back: rgb(246, 246, 246);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*************************UTILITY***********************************/
.container {
  width: 1180px;
  height: 500px;
}
.container-end {
  width: 1180px;
  height: 900px;
}
.footer-container-top {
  width: 1180px;
  height: 500px;
  display: flex;
}
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-column-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-section {
  height: 800px;
}
.main-end {
  height: 1300px;
}
.wave {
  background-image: url(../img/wave.svg);
  width: 100%;
  height: 80px;
  opacity: 0.034;
}
.rotate {
  rotate: 0.5turn;
}
/*******************HEADER*****************************/
header {
  background-image: url(../img/jumbo.png);
  background-size: cover;
  background-position: center;
  color: white;
}
ul {
  list-style: none;
}
/*********************HEAD TOP*************************/
.head-top {
  min-height: 80px;
}
.head-nav {
  height: 50px;

  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.head-logo,
.head-link {
  height: 50px;
}
.head-link {
  width: 50%;
  justify-content: space-between;
}
.head-login {
  border-radius: 30px;
  padding: 10px;
  border: none;
  font-size: 15px;
}
.head-main {
  height: 500px;
}
/*****************************HEAD MAIN***********************/
h1 {
  font-size: 60px;
}
.head-subject {
  width: 900px;
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}
.head-subject p {
  font-size: 22px;
}
.button {
  padding: 20px;
  border-radius: 30px;
  font-weight: 200;
  border: none;
}
.browser {
  background-color: rgb(35, 39, 42);
  color: white;
}

.fa-solid {
  padding: 0 10px;
}
/********************** MAIN SECTION********************************/
.photo {
  width: 60%;
  height: 100%;
}
.photo img {
  width: 100%;
  height: 100%;
}
.text {
  width: 40%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
h2 {
  font-size: 47px;
}
.text p {
  font-size: 20px;
  padding: 30px 0;
}
.bgg {
  background-color: var(--grey-back);
}
/********************MAIN SECTION END***************************/
.last-content {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.last-content h2 {
  padding: 30px;
}
.btn-main {
  margin-top: 40px;
  background-color: rgb(142, 161, 225);
  color: white;
}
h3 {
  font-size: 30px;
  background-image: url(../img/stars.svg);
  display: inline;
  background-size: 562px;
  background-position: center;
  background-repeat: no-repeat;
  padding: 37px 60px 0px 60px;
}
/****************************FOOTER TOP*********************************/
footer {
  /*height: 650px;*/
  background-color: rgb(35, 39, 42);
}
footer h2 {
  font-size: 35px;
  color: rgb(114, 137, 218);
}
footer p {
  font-size: 15px;
  color: white;
  padding: 15px 0;
}
.ita-flag {
  width: 20px;
}
.fa-angle-down {
  font-size: 15px;
}
a {
  text-decoration: none;
  color: white;
  padding-right: 8px;
  font-size: 20px;
}
.footer-top {
  height: 550px;

  display: flex;
  padding-top: 15px;
  justify-content: center;
}
.social {
  width: 30%;
  height: 100%;
}
li {
  color: white;
  margin: 15px 0;
  font-size: 20px;
}
ul :first-child {
  color: rgb(114, 137, 218);
}
.info-box {
  width: 70%;
  height: 100%;
  display: flex;
}
.info {
  width: calc(100% / 4);
}
/*****************FOOTER END**************************/
.footer-end {
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.footer-container-end {
  height: 130px;
  width: 1180px;
  border-top: 1px solid rgb(74, 88, 130);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-end,
.logo {
  height: 40px;
}
.logo {
  width: 70px;
}
.button-end {
  width: 100px;
  border-radius: 30px;
  background-color: rgb(142, 161, 225);
  color: white;
  border: none;
}
